<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="col-auto mb-3">

                <div class="d-flex justify-content-between">
                    <div>
                        <h3>Title</h3>
                    </div>
                    <div>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <div class="row">
                        <div class="col-auto">
                            <span>Change today:+45</span>
                        </div>
                        <div class="col-auto">
                            <span>Opening Price:1,400</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <span>Current price:+45</span>
                        </div>
                        <div class="col-auto">
                            <span>High Price:1,400</span>
                        </div>
                    </div>

                    <button class="btn btn-primary my-3">Go to social sentiment details <i
                            class="bi bi-chevron-right"></i></button>
                </div>
                <div class="col-auto">
                    <i class="bi bi-arrow-down fs-1 fw-bold text-success"></i>
                    <i class="bi bi-arrow-up fs-1 fw-bold text-danger"></i>
                </div>
                <div></div>
            </div>
        </div>

    </div>

</div>