<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="col-auto mb-3">

                <div class="d-flex justify-content-between">
                    <div>
                        <h3>{{symbol.description}} ({{symbol.displaySymbol}})</h3>
                    </div>
                    <div>
                        <button (click)="deleteItem(symbol.displaySymbol)" id="remove{{symbol.displaySymbol}}"
                            type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="row">
                        <div class="col-auto">
                            <span>Change today: {{quote.d|percent}}</span>
                        </div>
                        <div class="col-auto">
                            <span>Opening Price: {{quote.o| currency}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <span>Current price: {{quote.c| currency}}</span>
                        </div>
                        <div class="col-auto">
                            <span>High Price: {{quote.h| currency}}</span>
                        </div>
                    </div>

                    <a [routerLink]="['/sentiment',symbol.displaySymbol]" id="sentiment{{symbol.displaySymbol}}"
                        class="btn btn-primary my-3">
                        Go to social sentiment details
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
                <div class="col-auto">
                    <i *ngIf="quote.d>0; else arrowdown" class="bi bi-arrow-up fs-1 fw-bold text-success"></i>
                    <ng-template #arrowdown>
                        <i class="bi bi-arrow-down fs-1 fw-bold text-danger"></i>
                    </ng-template>
                </div>
                <div></div>
            </div>
        </div>

    </div>

</div>