<div>
    <div class="col-auto mb-3">
        <span>Title</span>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="col-auto">
                <span>Change:-150</span>
            </div>
            <div class="col-auto">
                <span>MSPR:12.56</span>
            </div>
        </div>
        <div class="col-auto">
            <i class="bi bi-arrow-down fs-1 fw-bold text-success"></i>
            <i class="bi bi-arrow-up fs-1 fw-bold text-danger"></i>
        </div>
    </div>
</div>