<div *ngIf="sentiment.change==0 && sentiment.mspr==0;else data_available">
    <div class="col-auto mb-3">

        <span>{{sentiment.month| month}} {{sentiment.year}}</span>
    </div>
    <div>
        No data available
    </div>
</div>

<ng-template #data_available>
    <div class="col-auto mb-3">

        <span>{{sentiment.month| month}} {{sentiment.year}}</span>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="col-auto">
                <span>Change: {{sentiment.change|number:'3.0-0'}}</span>
            </div>
            <div class="col-auto">
                <span>MSPR: {{sentiment.mspr|number:'2.2'}}</span>
            </div>
        </div>
        <div class="col-auto">
            <i *ngIf="sentiment.change>=0;else arrowdown" class="bi bi-arrow-up fs-1 fw-bold text-success"></i>
            <ng-template #arrowdown>
                <i class="bi bi-arrow-down fs-1 fw-bold text-danger"></i>
            </ng-template>
        </div>
    </div>
</ng-template>